.rating {
    margin: 117px auto;
    text-align: center;

    &__text {
        font-size: 14px;
        font-family: $additional-font-family;
        line-height: 1.9;
        letter-spacing: 0.9px;
        width: 735px;
        margin: 0 auto 31px;
        color: $service-color;
    }

    &__name {
        margin: 29px auto 25px;
        font-size: 18px;
        line-height: 1.7;
        font-weight: 400;
        color: $black;

        span {
            font-weight: 300;
            color: #b8b8b8;
        }
    }

    &__line {
        width: 511px;
        height: 1px;
        color: #d8d8d8;
        opacity: 0.3;
        margin-top: 29px;
    }
}