$primary-color: #4CAF50;
$hover-color: #3d8a40;
$text-color: #5B5858;
$text-subtitle: #cecece;
$text-subtitleSpan: #dedede;
$white: #fff;
$black: #333;
$bg-service-color: #FBFBFB;
$service-color: #252525;
$bg-contacts-us: #70BD59;
$additional-text: #373737;
$footer-bg: #2e2e2e;



$main-font-family: 'Oswald', 'Arial', 'Helvetica', sans-serif;
$additional-font-family: 'OpenSans', 'Arial', 'Helvetica', sans-serif;
$trs: all linear 0.3s;